<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Modules">
        <setting type="sep" />
        <setting id="module.provider" label="Choose Module Scraper" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=ScraperChoice)" default="" />
        <setting label="Enable All Providers (for current Module)" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=ToggleProviderAll&amp;action=EnableModuleAll)" option="close"/>
        <setting label="Disable All Providers (for current Module)" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=ToggleProviderAll&amp;action=DisableModuleAll)" option="close"/>
        <setting label="Disable All Providers" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAll&amp;setting=false&amp;open_id=1.1)" option="close"/>
        <setting type="sep" />
    </category>

    <category label="Providers">
        <setting type="sep" />
        <setting label="Disable All Providers" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAll&amp;setting=false&amp;open_id=1.1)" option="close"/>
        <setting label="Enable All Providers" type="action" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAll&amp;setting=true&amp;open_id=1.2)" option="close"/>
        <setting label="Lambda Scrapers Default" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=Defaults&amp;setting=true&amp;open_id='1.2')"/>
        <setting type="sep" />
        <setting id="provider.1movie" type="bool" label="$NUMBER[1]MOVIE" default="false" />
        <setting id="provider.4kmovieto" type="bool" label="$NUMBER[4]KMOVIETO" default="false" />
        <setting id="provider.123fox" type="bool" label="$NUMBER[123]FOX" default="false" /> <!--Placenta-->
        <setting id="provider.123hbo" type="bool" label="$NUMBER[123]HBO" default="false" /> <!--Placenta-->
        <setting id="provider.123hulu" type="bool" label="$NUMBER[123]HULU" default="false" />
        <setting id="provider.123movies" type="bool" label="$NUMBER[123MOVIES]" default="false" />
        <setting id="provider.123movieser" type="bool" label="$NUMBER[123]MOVIESER" default="false" /> <!--Jewbmx-->
        <setting id="provider.123moviesgold" type="bool" label="$NUMBER[123]MOVIESGOLD" default="false" />
        <setting id="provider.123netflix" type="bool" label="$NUMBER[123]NETFLIX" default="false" />
        <setting id="provider.321movies" type="bool" label="$NUMBER[321]MOVIES" default="false" /> <!--Placenta-->
        <setting id="provider.1080P" type="bool" label="$NUMBER[1080]P" default="false" />
        <setting id="provider.1123movies" type="bool" label="$NUMBER[1123]MOVIES" default="false" /> <!--Yoda-->
        <setting id="provider.afdah" type="bool" label="AFDAH" default="false" />
        <setting id="provider.allrls" type="bool" label="ALLRLS" default="false" />
        <setting id="provider.allucen" type="bool" label="ALLUCEN" default="false" />
        <setting id="provider.animeultima" type="bool" label="ANIMEULTIMA" default="false" />
        <setting id="provider.bmoviez" type="bool" label="BMOVIEZ" default="false" />
        <setting id="provider.bnwmovies" type="bool" label="BNWMOVIES" default="false" />
        <setting id="provider.bob" type="bool" label="BOB" default="false" />
        <setting id="provider.bobmovies" type="bool" label="BOBMOVIES" default="false" /> <!--Jewbmx-->
        <setting id="provider.cafehulu" type="bool" label="CAFEHULU" default="false" /> <!--Placenta-->
        <setting id="provider.cartoonhd" type="bool" label="CARTOONHD" default="false" />
        <setting id="provider.cartoonwire" type="bool" label="CARTOONWIRE" default="false" /> <!--Jewbmx-->
        <setting id="provider.cinemamega" type="bool" label="CINEMAMEGA" default="false" /> <!--Placenta-->
        <setting id="provider.cmovie" type="bool" label="CMOVIE" default="false" /> <!--Placenta-->
        <setting id="provider.cmovies" type="bool" label="CMOVIES" default="false" />
        <setting id="provider.coolmoviezone" type="bool" label="COOLMOVIEZONE" default="false" />
        <setting id="provider.cooltv" type="bool" label="COOLTV" default="false" />
        <setting id="provider.darewatch" type="bool" label="DAREWATCH" default="false" />
        <setting id="provider.divxcrawler" type="bool" label="DIVXCRAWLER" default="false" />
<!--        <setting id="provider.dizigold" type="bool" label="DIZIGOLD" default="false" />--> <!--Yoda-->
        <setting id="provider.dltube" type="bool" label="DLTUBE" default="false" />
        <setting id="provider.einthusan" type="bool" label="EINTHUSAN" default="false" />
<!--        <setting id="provider.filmfrantic" type="bool" label="FILMFRANTIC" default="false" />--> <!--Yoda-->
        <setting id="provider.filmxy" type="bool" label="FILMXY" default="false" />
        <setting id="provider.flenix" type="bool" label="FLENIX" default="false" />
        <setting id="provider.flix" type="bool" label="FLIX" default="false" /> <!--Placenta-->
        <setting id="provider.flixanity" type="bool" label="FLIXANITY" default="false" />
        <setting id="provider.fmovied6" type="bool" label="FMOVIED6" default="false" /> <!--Placenta-->
        <setting id="provider.fmovies" type="bool" label="FMOVIES" default="false" /> <!--Jewbmx-->
        <setting id="provider.freefmovies" type="bool" label="FREEFMOVIES" default="false" />
<!--        <setting id="provider.freemovie6" type="bool" label="FREEMOVIE6" default="false" />--> <!--Yoda-->
        <setting id="provider.freeputlockers" type="bool" label="FREEPUTLOCKERS" default="false" />
        <setting id="provider.furk" type="bool" label="FURK" default="false" />
        <setting id="provider.genvideos" type="bool" label="GENVIDEOS" default="false" />
        <setting id="provider.gogoanime" type="bool" label="GOGOANIME" default="false" />
        <setting id="provider.gowatchseries" type="bool" label="GOWATCHSERIES" default="false" />
        <setting id="provider.hackimdb" type="bool" label="HACKIMDB" default="false" /> <!--Jewbmx-->
        <setting id="provider.hd" type="bool" label="HD" default="false" /> <!--Placenta-->
        <setting id="provider.hdmega" type="bool" label="HDMEGA" default="false" /> <!--Placenta-->
        <setting id="provider.hdmto" type="bool" label="HDMTO" default="false" />
        <setting id="provider.hdpopcorns" type="bool" label="HDPOPCORNS" default="false" /> <!--Jewbmx-->
        <setting id="provider.hulufilm" type="bool" label="HULUFILM" default="false" /> <!--Yoda-->
        <setting id="provider.huluvip" type="bool" label="HULUVIP" default="false" /> <!--Placenta-->
        <setting id="provider.icefilms" type="bool" label="ICEFILMS" default="false" />
        <setting id="provider.icouchtuner" type="bool" label="ICOUCHTUNER" default="false" />
        <setting id="provider.iwatchflixxyz" type="bool" label="IWATCHFLIXXYZ" default="false" /> <!--Jewbmx-->
<!--        <setting id="provider.imdark" type="bool" label="IMDARK" default="false" />--> <!--Yoda-->
        <setting id="provider.kattv" type="bool" label="KATTV" default="false" />
        <setting id="provider.kingmovies" type="bool" label="KINGMOVIES" default="false" /> <!--Yoda-->
        <setting id="provider.l23movies" type="bool" label="L23MOVIES" default="false" />
        <setting id="provider.library" type="bool" label="LIBRARY" default="false" />
        <setting id="provider.locker" type="bool" label="LOCKER" default="false" />
        <setting id="provider.m4ufree" type="bool" label="M4UFREE" default="false" />
        <setting id="provider.megahd" type="bool" label="MEGAHD" default="false" />
        <setting id="provider.megvid" type="bool" label="MEGVID" default="false" /> <!--Placenta-->
<!--        <setting id="provider.miradetodo" type="bool" label="MIRADETODO" default="false" />--> <!--Yoda-->
        <setting id="provider.movie4kis" type="bool" label="MOVIE4KIS" default="false" /> <!--Yoda-->
        <setting id="provider.movie4korg" type="bool" label="MOVIE4K" default="false" /> <!--Placenta-->
        <setting id="provider.movie4kto" type="bool" label="MOVIE4KTO" default="false" /> <!--Placenta-->
        <setting id="provider.movie4uch" type="bool" label="MOVIE4UCH" default="false" />
        <setting id="provider.moviesgold" type="bool" label="MOVIESGOLD" default="false" /> <!--Placenta-->
        <setting id="provider.moviesplanet" type="bool" label="MOVIESPLANET" default="false" />
        <setting id="provider.movietube" type="bool" label="MOVIETUBE" default="false" /> <!--Jewbmx-->
        <setting id="provider.moviexk" type="bool" label="MOVIEXK" default="false" /> <!--Placenta-->
        <setting id="provider.mycouchtuner" type="bool" label="MYCOUCHTUNER" default="false" /> <!--Jewbmx-->
        <setting id="provider.myprojectfreetv" type="bool" label="MYPROJECTFREETV" default="false" /> <!--Jewbmx-->
        <setting id="provider.myputlock" type="bool" label="MYPUTLOCK" default="false" /> <!--Placenta-->
        <setting id="provider.myputlocker" type="bool" label="MYPUTLOCKER" default="false" /> <!--Jewbmx-->
        <setting id="provider.myseriesfree" type="bool" label="MYSERIESFREE" default="false" /> <!--Jewbmx-->
        <setting id="provider.mywatchseries" type="bool" label="MYWATCHSERIES" default="false" />
<!--        <setting id="provider.mzmovies" type="bool" label="MZMOVIES" default="false" />--> <!--Yoda-->
<!--        <setting id="provider.onlinedizi" type="bool" label="ONLINEDIZI" default="false" />--> <!--Yoda-->
        <setting id="provider.odb" type="bool" label="ODB" default="false" /> <!--Jewbmx-->
        <setting id="provider.openloadmovie" type="bool" label="OPENLOADMOVIE" default="false" /> <!--Jewbmx-->
        <setting id="provider.openloadmovies" type="bool" label="OPENLOADMOVIES" default="false" /> <!--Yoda-->
        <setting id="provider.ororo" type="bool" label="ORORO" default="false" />
        <setting id="provider.plocker" type="bool" label="PLOCKER" default="false" />
        <setting id="provider.popcorn" type="bool" label="POPCORN" default="false" /> <!--Jewbmx-->
        <setting id="provider.primewire" type="bool" label="PRIMEWIRE" default="false" />
        <setting id="provider.projectfree" type="bool" label="PROJECTFREE" default="false" />
        <setting id="provider.pron" type="bool" label="PRON" default="false" />
        <setting id="provider.pubfilmto" type="bool" label="PUBFILMTO" default="false" /> <!--Jewbmx-->
        <setting id="provider.putlocker" type="bool" label="PUTLOCKER" default="false" /> <!--Jewbmx-->
        <setting id="provider.putlockeronl" type="bool" label="PUTLOCKERONL" default="false" /> <!--Jewbmx-->
        <setting id="provider.putlockersgs" type="bool" label="PUTLOCKERSGS" default="false" /> <!--Jewbmx-->
        <setting id="provider.rajahoki88" type="bool" label="RAJAHOKI88" default="false" />
        <setting id="provider.rarbg" type="bool" label="RARBG" default="false" /> <!--Placenta-->
        <setting id="provider.reddit" type="bool" label="REDDIT" default="false" /> <!--Jewbmx-->
        <setting id="provider.seehd" type="bool" label="SEEHD" default="false" />
        <setting id="provider.series9" type="bool" label="SERIES9" default="false" />
        <setting id="provider.seriesfree" type="bool" label="SERIESFREE" default="false" />
        <setting id="provider.seriesonline" type="bool" label="SERIESONLINE" default="false" />
        <setting id="provider.sezonlukdizi" type="bool" label="SEZONLUKDIZI" default="false" />
        <setting id="provider.sharemovies" type="bool" label="SHAREMOVIES" default="false" /> <!--Jewbmx-->
        <setting id="provider.showbox" type="bool" label="SHOWBOX" default="false" />
        <setting id="provider.sockshare" type="bool" label="SOCKSHARE" default="false" /> <!--Jewbmx-->
        <setting id="provider.solarmovie" type="bool" label="SOLARMOVIE" default="false" /> <!--Jewbmx-->
        <setting id="provider.solarmoviez" type="bool" label="SOLARMOVIEZ" default="false" />
        <setting id="provider.streamlord" type="bool" label="STREAMLORD" default="false" />
        <setting id="provider.sunmovies" type="bool" label="SUNMOVIES" default="false" /> <!--Placenta-->
        <setting id="provider.timewatch" type="bool" label="TIMETOWATCH" default="false" /> <!--Placenta-->
        <setting id="provider.toonget" type="bool" label="TOONGET" default="false" /> <!--Jewbmx-->
        <setting id="provider.tvbox" type="bool" label="TVBOX" default="false" />
        <setting id="provider.uhd" type="bool" label="UHD" default="false" /> <!--Placenta-->
        <setting id="provider.videoscraper" type="bool" label="VIDEOSCRAPER" default="false" />
        <setting id="provider.vidics" type="bool" label="VIDICS" default="false" /><!-- test-->
        <setting id="provider.vioozfree" type="bool" label="VIOOZFREE" default="false" /> <!--Yoda-->
        <setting id="provider.vodly" type="bool" label="VODLY" default="false" />
        <setting id="provider.watch32" type="bool" label="WATCH32" default="false" />
        <setting id="provider.watch-free" type="bool" label="WATCH-FREE" default="false" /> <!--Yoda-->
        <setting id="provider.watchit" type="bool" label="WATCHIT" default="false" /> <!--Placenta-->
        <setting id="provider.watchnew" type="bool" label="WATCHNEW" default="false" /> <!--Placenta-->
        <setting id="provider.watchonline" type="bool" label="WATCHONLINE" default="false" />
        <setting id="provider.watchseries" type="bool" label="WATCHSERIES" default="false" />
        <setting id="provider.xmovies" type="bool" label="XMOVIES" default="false" />
        <setting id="provider.xmovies8" type="bool" label="XMOVIES8" default="false" /> <!--Jewbmx-->
        <setting id="provider.xwatchseries" type="bool" label="XWATCHSERIES" default="false" />
        <setting id="provider.ymovies" type="bool" label="YMOVIES" default="false" />
    </category>

    <category label="Foreign">\
        <setting label="Disable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllForeign&amp;setting=false&amp;open_id='1.1')"/>
        <setting label="Enable All Foreign Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllForeign&amp;setting=true&amp;open_id='1.2')"/>
        <setting label="German" type="lsep" />
        <setting id="provider.allucde" type="bool" label="ALLUC" default="false" />
        <setting id="provider.animebase" type="bool" label="ANIMEBASE" default="false" />
        <setting id="provider.animeloads" type="bool" label="ANIMELOADS" default="false" />
        <setting id="provider.bs" type="bool" label="BS" default="false" />
        <setting id="provider.cine" type="bool" label="CINE" default="false" />
        <setting id="provider.cinenator" type="bool" label="CINENATOR" default="false" />
        <setting id="provider.ddl" type="bool" label="DDL" default="false" />
        <setting id="provider.filmpalast" type="bool" label="FILMPALAST" default="false" />
        <setting id="provider.foxx" type="bool" label="FOXX" default="false" />
        <setting id="provider.hdfilme" type="bool" label="HDFILME" default="false" />
        <setting id="provider.hdstreams" type="bool" label="HDSTREAMS" default="false" />
        <setting id="provider.horrorkino" type="bool" label="HORRORKINO" default="false" />
        <setting id="provider.iload" type="bool" label="ILOAD" default="false" />
        <setting id="provider.kinodogs" type="bool" label="KINODOGS" default="false" />
        <setting id="provider.kinoking" type="bool" label="KINOKING" default="false" />
        <setting id="provider.kinow" type="bool" label="KINOW" default="false" />
        <setting id="provider.kinox" type="bool" label="KINOX" default="false" />
        <setting id="provider.lichtspielhaus" type="bool" label="LICHTSPIELHAUS" default="false" />
        <setting id="provider.movie2k-ac" type="bool" label="MOVIE2K-AC" default="false" />
        <setting id="provider.movie2k-ag" type="bool" label="MOVIE2K-AG" default="false" />
        <setting id="provider.movie2z" type="bool" label="MOVIE2Z" default="false" />
        <setting id="provider.movie4k" type="bool" label="MOVIE4K" default="false" />
        <setting id="provider.moviesever" type="bool" label="MOVIESEVER" default="false" />
        <setting id="provider.movietown" type="bool" label="MOVIETOWN" default="false" />
        <setting id="provider.netzkino" type="bool" label="NETZKINO" default="false" />
        <setting id="provider.proxer" type="bool" label="PROXER" default="false" />
        <setting id="provider.pureanime" type="bool" label="PUREANIME" default="false" />
        <setting id="provider.serienstream" type="bool" label="SERIENSTREAM" default="false" />
        <setting id="provider.seriesever" type="bool" label="SERIESEVER" default="false" />
        <setting id="provider.stream-to" type="bool" label="STREAM-TO" default="false" />
        <setting id="provider.streamdream" type="bool" label="STREAMDREAM" default="false" />
        <setting id="provider.streamflix" type="bool" label="STREAMFLIX" default="false" />
        <setting id="provider.streamit" type="bool" label="STREAMIT" default="false" />
        <setting id="provider.tata" type="bool" label="TATA" default="false" />
        <setting id="provider.video4k" type="bool" label="VIDEO4K" default="false" />
        <setting id="provider.view4u" type="bool" label="VIEW4U" default="false" />
        <setting label="Polish" type="lsep" />
        <setting id="provider.alltube" type="bool" label="ALLTUBE" default="false" />
        <setting id="provider.boxfilm" type="bool" label="BOXFILM" default="false" />
        <setting id="provider.cdahd" type="bool" label="CDAHD" default="false" />
        <setting id="provider.cdax" type="bool" label="CDAX" default="false" />
        <setting id="provider.ekinomaniak" type="bool" label="EKINOMANIAK" default="false" />
        <setting id="provider.filiser" type="bool" label="FILISER" default="false" />
        <setting id="provider.filmwebbooster" type="bool" label="FILMWEBBOOSTER" default="false" />
        <setting id="provider.iitv" type="bool" label="IITV" default="false" />
        <setting id="provider.movieneo" type="bool" label="MOVIENEO" default="false" />
        <setting id="provider.openkatalog" type="bool" label="OPENKATALOG" default="false" />
        <setting id="provider.paczamy" type="bool" label="PACZAMY" default="false" />
        <setting id="provider.segos" type="bool" label="SEGOS (need login)" default="false" />        
        <setting id="provider.szukajkatv" type="bool" label="SZUKAJKATV" default="false" />
        <setting id="provider.trt" type="bool" label="TRT" default="false" />
    </category>

    <category label="Debrid Only">\
        <setting label="Disable All Debrid Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllDebrid&amp;setting=false&amp;open_id='1.1')"/>
        <setting label="Enable All Debrid Providers" type="action" option="close" action="RunPlugin(plugin://script.module.lambdascrapers/?mode=toggleAllDebrid&amp;setting=true&amp;open_id='1.2')"/>
        <setting type="sep" />
        <setting id="provider.2ddl" type="bool" label="$NUMBER[2]DDL" default="false" /> <!--Jewbmx-->
        <setting id="provider.300mbfilms" type="bool" label="$NUMBER[300]MBFILMS" default="false" />
        <setting id="provider.bestmoviez" type="bool" label="BESTMOVIEZ" default="false" />
<!--        <setting id="provider.ddls" type="bool" label="DDLS" default="false" />--> <!--Yoda-->
        <setting id="provider.ddlvalley" type="bool" label="DDLVALLEY" default="false" />
        <setting id="provider.directdl" type="bool" label="DIRECTDL" default="false" />
        <setting id="provider.gomovies" type="bool" label="GOMOVIE" default="false" />
<!--        <setting id="provider.hevcfilm" type="bool" label="HEVCFILM" default="false" />--> <!--Yoda-->
        <setting id="provider.moviesonline" type="bool" label="MOVIESONLINE" default="false" />
        <setting id="provider.myvideolink" type="bool" label="MYVIDEOLINK" default="false" /> <!--Jewbmx-->
        <setting id="provider.phazeddl" type="bool" label="PHAZEDLL" default="false" />
        <setting id="provider.power" type="bool" label="POWER" default="false" />
<!--        <setting id="provider.releasebb" type="bool" label="RELEASEBB" default="false" />-->
        <setting id="provider.RLSB" type="bool" label="RLSB" default="false" /> <!--Jewbmx-->
        <setting id="provider.rlsbb" type="bool" label="RLSBB" default="false" />
<!--        <setting id="provider.rlsmovies" type="bool" label="RLSMOVIES" default="false" />-->
        <setting id="provider.rlsscn" type="bool" label="RLSSCN" default="false" />
        <setting id="provider.scenerls" type="bool" label="SCENERLS" default="false" />
        <setting id="provider.sceper" type="bool" label="SCEPER" default="false" />
        <setting id="provider.seriescr" type="bool" label="SERIESCR" default="false" />
        <setting id="provider.tvbmoviez" type="bool" label="TVBMOVIEZ   " default="false" />
<!--        <setting id="provider.tvrelease" type="bool" label="TVRELEASE" default="false" />-->
        <setting id="provider.ultrahd" type="bool" label="ULTRAHD" default="false" /> <!--Jewbmx-->
        <setting id="provider.ultrahdindir" type="bool" label="ULTRAHDINDIR" default="false" />
        <setting id="provider.wrzcraft" type="bool" label="WRZCRAFT" default="false" />
    </category>
<!--    <category label="Debug">\-->
<!--        <setting id="addon_debug" type="bool" label="Enable Debug" default="false" />-->
<!--    </category>-->
</settings>
